<% if (sequelize) { -%>
# Database
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=

<% } -%><% if (jwt) { -%>
# JWT
JWT_SECRET=

<% } -%><% if (nodemailer) { -%>
# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=<% } -%>
